[viewBag]
==
<link href="{{ ['assets/css/user.css']|theme }}" rel="stylesheet">
<div class="tile"> 
<a href="http://www.ey.gov.tw/Member_Info.aspx?n=3D765DBB0F9A3534&s=78869EB6335CF18C">
<img src="{{ 'assets/images/sirs/sir.jpg'|theme }}"  style="width:100%; height: 100%">
  <div class="text">
  <p class="animate-text">賴清德</p>
  </div></a>
 </div>
 
<div class="tile"> 
<a href="http://www.ey.gov.tw/Member_Info.aspx?n=445B991A1B69EF87&s=817EB5FF488F55E1">
<img src="{{ 'assets/images/sirs/sirs2.jpg'|theme }}"  style="width:100%; height: 100%">
  <div class="text">
  <p class="animate-text">唐鳳</p>
  </div></a>
 </div>

<div class="tile"> 
<a href="http://www.ey.gov.tw/Member_Info.aspx?n=445B991A1B69EF87&s=C9591275B7E86224">
<img src="{{ 'assets/images/sirs/sir3.jpg'|theme }}"  style="width:100%; height: 100%">
  <div class="text">
  <p class="animate-text">潘文忠</p>
  </div></a>
 </div>

<div class="tile"> 
<a href="http://www.ey.gov.tw/Member_Info.aspx?n=445B991A1B69EF87&s=82705D02AB5B95E5">
<img src="{{ 'assets/images/sirs/sir4.jpg'|theme }}"  style="width:100%; height: 100%">
  <div class="text">
  <p class="animate-text">林美珠</p>
  </div></a>
 </div>
 
 <div class="tile"> 
<a href="http://www.ey.gov.tw/Member_Info.aspx?n=445B991A1B69EF87&s=BE59E35929B654BA">
<img src="{{ 'assets/images/sirs/sir5.jpg'|theme }}"  style="width:100%; height: 100%">
  <div class="text">
  <p class="animate-text">沈榮津</p>
  </div></a>
 </div>