.fields {
  background-color: #efefef;
  margin-bottom: 50px; }
  .fields .headline {
    text-align: center;
    padding: 50px;
    padding-bottom: 10px; }
.fields .headline span {
  background: none;
  font-size: 1.3em; 
}
  .fields .headline:before {
    border: 0px; }
  .fields #cloudtag {
    padding: 50px;
    text-align: center; }
    .fields #cloudtag .bubble {
      max-width: 700px; }
