#track #imaginary_container {
  margin: 20px 20px 40px 20px;
}

#track .stylish-input-group .input-group-addon {
  background: white !important;
}

#track .stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

#track .stylish-input-group button {
  border: 0;
  background: transparent;
}

#track h4 {
  margin: 15px;
  line-height: inherit;
}

#track .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

#track .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

#track .timeline li {
  margin-bottom: 20px;
  margin-right: 5%;
  position: relative;
  width: 45%;
  float: left;
  clear: left;
}

#track .timeline>li:before {
  content: " ";
  display: table;
}

#track .timeline>li:after {
  content: " ";
  display: table;
  clear: both;
}

#track .timeline>li:before {
  content: " ";
  display: table;
}

#track .timeline>li:after {
  content: " ";
  display: table;
  clear: both;
}

#track .timeline>li .timeline-panel {
  cursor: pointer;
  width: 100%;
  margin-right: 0%;
  float: left;
  border: 0px solid #d4d4d4;
  margin-bottom: 10px;
  position: relative;
  background-color: #eeeeee;
}

#track .timeline>li .timeline-panel:hover {
  background-color: #ccc;
}

#track .timeline>li.timeline-inverted .timeline-panel {
  float: right;
  margin-right: 0;
  margin-left: 20%;
}

#track .timeline>li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

#track .timeline>li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

#track .timeline>li.timeline-inverted .avatars .timeline-date {
  float: right;
  text-align: right;
  margin-right: 0;
}

#track .timeline-body>p, #track .timeline-body>ul {
  padding: 20px;
  margin-bottom: 0;
}

#track .timeline-body>p+p {
  margin-top: 5px;
}

#track .timeline-footer {
  padding: 10px;
  height: 40px;
  text-align: right;
}

#track .timeline-footer>a {
  cursor: pointer;
  text-decoration: none;
}

#track .timeline>li.timeline-inverted {
  float: right;
  clear: right;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 0;
}

#track .timeline>li:nth-child(2) {
  margin-top: 60px;
}

#track .timeline>li.timeline-inverted>.timeline-badge {
  left: -12px;
}

.avatars .profile-picture {
  font-size: 0;
}

#track .avatars .timeline-date {
  float: right;
  text-align: right;
}

#track .avatars .avatar {
  width: 30px;
  height: 30px;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 50%;
  display: inline-block;
}

.avatars .col-sm-12, .avatars .col-sm-9, .avatars .col-sm-8, .avatars .col-sm-7, .avatars .col-md-9, .avatars .col-md-8, .avatars .col-md-4, .avatars .col-md-3 {
  padding-right: 0;
  padding-left: 0;
}

#track .label {
  font-weight: 400;
  font-size: 100%;
  border-radius: 0px;
  margin-left: 5px;
}

#track .label-danger {
  background-color: #B23A00;
}

#track .label-warning {
  background-color: #FFA83A;
}

#track .label-success {
  background-color: #16a598;
}

@media (max-width: 767px) {
  #track ul.timeline:before {
    left: 40px;
    display: none;
  }
  #track ul.timeline>li {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    float: left;
    clear: left;
  }
  #track ul.timeline>li>.timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px;
  }
  #track ul.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  #track ul.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  #track ul.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  #track .timeline>li.timeline-inverted>.timeline-badge {
    left: 28px;
  }
  #track .timeline-inverted .avatars {
    margin-left: 0% !important;
  }
  #track .timeline-date {
    margin-right: 0% !important;
  }
}