@charset "UTF-8";
#proposal-info .info-box {
  padding: 10px 20px;
  background-color: #d8d8d8;
  margin-bottom: 20px; }
  #proposal-info .info-box p {
    font-weight: 300;
    margin-left: 20px; }

/* green123:#79ffcb #59C7BD #16a598 red: B23A00 yellow: FFA83A */
.progress {
  /* 政策駁回 */
  /* 完全採納 */
  /* 部分採納 */
  /* 進行中 */
  /* 研議中 */ }
  .progress .progress-bar-danger {
    background-color: #B23A00; }
  .progress .progress-bar-success {
    background-color: #16a598; }
  .progress .progress-bar-warning {
    background-color: #59C7BD; }
  .progress .progress-bar-default {
    background-color: #59C7BD; }
  .progress .progress-bar-yellow {
    background-color: #FFA83A; }
