#track.track-side li {
  margin-left: 5%;
  width: 100%;
}

#track.track-side li:nth-child(2) {
  margin-top: 0px;
}

#track.track-side li p {
  font-weight: 100;
  padding: 0 20px;
}

#track.track-side .timeline {
  padding-bottom: 0;
}

#track.track-side .timeline:before {
  left: 0;
}

@media (max-width: 767px) {
  #track.track-side li {
    margin-left: 0%;
  }
}