title = "提案-ALL"
url = "/proposal/:id"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10000000
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<div align="center">
    <h3>青諮提案</h3>
    <h3>詳列青諮在大會中提出之具體提案</h3>
    <h4>進度說明</h4>
    <br>
     <div class="col-md-12" align="center">
    <ul style=" display: table; margin: 0 auto;">
                  <li align="center" class="list-group-item col-md-2">
                       </br> 提案</br> 
                        
                    <span  class="icon-play" align="left" style="font-size:20px;color:#BBFF66"></span> </br>
                  </li> 
                 <li align="center" class="list-group-item col-md-2">
                        進行中</br> 
                    <span  class="icon-play" align="left" style="font-size:20px;color:#77FF00"></span> </br>
                  </li>
                  <li align="center" class="list-group-item col-md-2">
                        部分落實</br>
                    <span  class="icon-circle" align="left" style="font-size:20px;color:#66DD00"></span> </br>
                  </li>
                  <li align="center" class="list-group-item col-md-2">
                        全部落實</br> 
                    <span  class="icon-circle" align="left" style="font-size:20px;color:#55AA00"></span> </br>
                  </li>
                   <li align="center" class="list-group-item col-md-2">
                        暫不採用</br> 
                    <span  class="icon-circle" align="left" style="font-size:20px;color:#FF5511"></span> </br>
                  </li>
         </ul>
       </div>   
  </div>
<div class="container-fluid cards-row">
<div class="container">


<div class="row " style="text-align:right;">
{% partial 'Search' %}
 </div> 
<p></p>

<div class="row">





    {% for post in posts  %}
    

    {% for category in post.categories %}
    {% if category.id == 1 %}
      <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <p class="card-description" align="left"><a href="{{ post.url }}">{{ post.title }}</a></p>
        {% if post.level == 1 %}
                       
         
            <span  class="icon-play" align="left" style="font-size:20px;color:#BBFF66"></span>
            <span  class="icon-play" align="left" style="font-size:20px;color:#d9d9d9"></span>
            <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
            <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
            <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
            </br>
         
      
       {%elseif  post.level==2%}
         
              <span  class="icon-play" align="left" style="font-size:20px;color:#BBFF66"></span>
              <span  class="icon-play" align="left" style="font-size:20px;color:#77FF00"></span> 
              <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
              <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
              <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
              </br>
           
         
        {%elseif  post.level==3%}
        
              <span  class="icon-play" align="left" style="font-size:20px;color:#BBFF66"></span>
              <span  class="icon-play" align="left" style="font-size:20px;color:#77FF00"></span>
              <span  class="icon-circle" align="left" style="font-size:20px;color:#66DD00"></span> 
            <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
            <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
               </br>
           
          
        {%elseif  post.level==4%}
            
              
              <span  class="icon-play" align="left" style="font-size:20px;color:#BBFF66"></span>
              <span  class="icon-play" align="left" style="font-size:20px;color:#77FF00"></span>
               <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
              <span  class="icon-circle" align="left" style="font-size:20px;color:#55AA00"></span>
               <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
               </br>
        
        {%elseif  post.level==5%}
           
             
              <span  class="icon-play" align="left" style="font-size:20px;color:#BBFF66"></span>
              <span  class="icon-play" align="left" style="font-size:20px;color:#77FF00"></span>
               <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
                <span  class="icon-circle" align="left" style="font-size:20px;color:#d9d9d9"></span>
              <span  class="icon-circle" align="left" style="font-size:20px;color:#FF5511"></span> 
              </br>
            
         
    {% endif %}


      </div>
    </div>
  </div>
  {% endif %}

         
        {% endfor %}
       
    {% endfor %}

</div>
</div>
</div>