title = "test456"
url = "/test456/:slug?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[PostForm]
use_authors = 1
restrict_owner = 1
backUser = 1
allowpublish = 1
allow_images = 1
slug = "{{ :slug }}"
listPage = "test/userpost"
postPage = "blog/post"

[blogTags]
results = 0
direction = "desc"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
==
<?php
use October\Rain\Auth\Models\User;


function onInit()
{
    $user = Auth::getUser();
    $this['activatedUsers'] = User::whereIsActivated(true)->get();
    if($user){
        $component = $this->addComponent(
            'NetSTI\Uploader\Components\ImageUploader',
            'imageUploader',
            ['modelClass'=>'RainLab\User\Models\User','modelKeyColumn'=>'avatar', 'deferredBinding' => false]
        );

        $component->bindModel('avatar', $user);
    }
}
function onStart()
{
    $this->addCss('assets/css/post.css');
     $avatar_id= $this->param('id');
      $this->addJs('assets/js/app.js');
      
   
}
?>
==
{% set id = 'id' %}
<link href="{{ ['assets/tags/jquery.tagit.css']|theme }}" rel="stylesheet">
<link href="{{ ['assets/tags/tagit.ui-zendesk.css']|theme }}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="{{ [
    'assets/tags/jqusery.js',
    'assets/tags/jquery-ui.js',
    'assets/tags/tag-it.min.js',
    ]|theme }}.js">
</script>
<div class="container">
{{ form_open({ 'id':'bpostform', 'data-request': 'onSave','data-request-validate':'','data-request-flash':'', files: true }) }}
    <input type="hidden" id="Form-field-blog-id" name="id" value="{{ PostForm.post.id }}"></input>

  
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a data-toggle="tab" href="#post_basic">{{ "發布" }}</a></li>

</ul>

<div class="tab-content">
<div id="post_basic" class="tab-pane fade in active">

    <div class="form-group">



    <select id="Form-field-blog-cat-{{ cat.name }}" name="category[]" style="display:none">
     {% for cat in PostForm.categories %}
    {% if cat.id in PostForm.postCategoryIds %}
  <option value="{{ cat.id }}">{{ cat.name }}</option>
  {% endif %}
  {% endfor %}
  {% for cat in PostForm.categories %}
  <option value="{{ cat.id }}">{{ cat.name }}</option>
 {% endfor %}
</select>
</div>
    
    <script>
            var rblWorkType = $("input[cat.id*=rblWorkType]:radio");
            rblWorkType.change(function () {
                alert(111);
            });
</script>
    
 

 <script>
   
      $("#time").datepicker();
      
  </script>
 


    <div class="form-group"><br>
        <label for="Form-field-blog-title">{{ "標題"}}</label>
        <input type="text" name="title" id="Form-field-blog-title" value="{{ PostForm.post.title }}" placeholder="{{ PostForm.blogtrans('post.title_placeholder') }}" class="form-control" maxlength="255">

    </div>
        <div class="form-group"><br>
        <label for="Form-field-blog-title">{{ "tags"}}</label>
        <input name="tags_name" id="Form-field-blog-tags"  class="form-control">
    </div>

<script>
    var postTags = [];
    var tags = [];
    {%for tag in post.tags %}
        postTags.push("{{ tag.name}}");
    {% endfor %}
    {% for tag in blogTags.tags %}
        tags.push("{{ tag.name }}");
    {% endfor %}
    

    $('#Form-field-blog-tags').val(postTags).tagit({
        availableTags: tags
    });
</script>



    <div class="form-group"><br>
        <label for="Form-field-blog-title">{{ "出席委員"}}</label>
        <input name="attendees" id="Form-field-blog-attendees"  class="form-control">
    </div>

<script>
    var attendeesTags = [];
    var attendees = [];
    {%for users in post.users %}
        attendeesTags.push("{{ users.name}}");
    {% endfor %}
    {% for attendees in activatedUsers %}
        attendees.push("{{ attendees.name }}");
    {% endfor %}
    
    $('#Form-field-blog-attendees').val(attendeesTags).tagit({
        availableTags: attendees
    });
</script>
    <div class="form-group">
        <label for="Form-field-blog-content">{{ "內文" }}</label>
        <textarea name="content" id="Form-field-blog-content" class="form-control ckeditor">{{ PostForm.post.content }}</textarea>
    </div>
</div>
{% if PostForm.allow_images %}
<div id="post_images" class="tab-pane fade">
    <div class="form-group">
            <label>&nbsp;</label>
            <!-- File uploader -->
            {% component 'imageUploader' %}
    </div>
    <div class="form-group">
    {% if PostForm.post.featured_images.count %}
    <h3>{{ PostForm.trans('form_comp.image_titles_desc') }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>{{ PostForm.trans('form_comp.filename') }}</th>
                <th>{{ PostForm.trans('form_comp.title') }}</th>
                <th>{{ PostForm.trans('form_comp.description') }}</th>
            </tr>
        </thead>    
        <tbody>
{% for image in PostForm.post.featured_images %}
            <tr>
                <td title="{{ image.path }}">{{ image.filename }}</td>
                <td>
                    <input type="text" name="ititle[{{ image.id }}]" id="Form-field-image-title" value="{{ image.title }}" class="form-control" maxlength="50">
                </td>
                <td>
                    <input type="text" name="idescription[{{ image.id }}]" id="Form-field-image-description" value="{{ image.description }}" class="form-control">
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
<p>{{ PostForm.trans('form_comp.noimage_mess') }}</p>
{% endif %}
    </div>
</div>
{% endif %}




{% if PostForm.user_groups %}
    <div id="post_notify" class="tab-pane fade form-group">
        <p>{{ PostForm.trans('general.notify_groups') }}</p>
        <div class="row">
{% for id,name in PostForm.user_groups %}
            <div class="col-md-3">
                {{ form_checkbox('notify_groups[]', id,false,{ id:'notify_groups'~id }) }}
                <label for="notify_groups{{ id }}">{{ name }}</label>
            </div>
{% endfor %}
        </div>
    </div>
</div><!--end tab-content -->

{% endif %}
    <div class="form-group">
        <div class="alert alert-danger" data-validate-error>
            <p data-message></p>
        </div>


{% if PostForm.allowpublish %}
        <button
            id="publish_save"
            type="button" 
            data-request="onSave"
            data-request-data="published:1"
            data-load-indicator="{{ PostForm.trans('kurtjensen.mycalendar::lang.general.saving') }}" 
            class="btn btn-primary">{{'儲存'}}
        </button>
{% endif %}

    <span class="btn-text">
        or 
        <a href="{{ PostForm.listPage }}"
            class="btn btn-default" >
            {{ "取消" }}
        </a>
    </span>
    </div>
{{ form_close() }}
</div>