title = "test_eit"
url = "/test_eit"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogTags]
results = 5
direction = "desc"

[PostList]
use_authors = 1
restrict_owner = 1
backUser = 1
formPage = "blog/post"

[PostForm]
use_authors = 1
restrict_owner = 1
allowpublish = 1
allow_images = 1
slug = "{{ :slug }}"
listPage = "blog/list"
postPage = "blog/post"
==
<link href="{{ ['assets/tags/jquery.tagit.css']|theme }}" rel="stylesheet">
<link href="{{ ['assets/tags/tagit.ui-zendesk.css']|theme }}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jquery操作表单select下拉菜单切换显示内容</title>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>

<div class="content">

  <select  name="category[]">
  
       {% for cat in PostForm.categories %}
    {% if cat.id in PostForm.postCategoryIds %}
    <option selected="selected" value="{{ cat.id }}">{{ cat.name }}</option>
    
    
    {% endif %}
  {% endfor %}
  
  {% for cat in PostForm.categories %}
  <option value="{{ cat.id }}">{{ cat.name }}</option>
 {% endfor %}
  </select>
  <div class="div">
    <div>默认显示内容1</div>
    <div style="display:none;">3</div>
    <div style="display:none;">4</div>
  </div>
</div>
<script>
$('select').change(function(){
	var numEle = $(this).val();
	$(this).next().find('div').eq(numEle).show().siblings().hide();
});
</script>