title = "test_post"
url = "/test_post/:slug/:page"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":slug"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "test/test_user"

[staticMenu]
code = "alluser"
==
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123352956-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123352956-1');
</script>

{% for i in 0.. user_model.getOthersPost|length %}
  {% for post in posts%}
 {% set newid =  i %}
 {{i}}
 {% endfor %}
 {{post.id}}
     {% endfor %}