[viewBag]
==
<div id="header">
    <b><a href="http://140.124.39.199/index.php/home" style="text-decoration:none;">青諮</a></b>
    <span style="float:right;">
        <a href="http://140.124.39.199/index.php/proposal" style="text-decoration:none;">提案</a>&nbsp
        <a href="http://140.124.39.199/index.php/track" style="text-decoration:none;">Track</a>
    </span>
            <nav class="main-nav">
            <ul>
                <li class="{% if this.page.id == 'login' %} active {% endif %}">login<a href="{{ 'login'|page }}"></a></li>

                    <li><a data-request="onLogout" data-request-data="redirect: '/'">Sign out</a></li>
          
            </ul>
        </nav>

</div>