.headline:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd; }

.headline {
  display: block;
  position: relative;
  margin-bottom: 20px;
  font-size: 24px; }

.headline > span {
  display: inline-block;
  position: relative;
  background: white;
  padding-right: 15px; }

.modal .modal-header {
  border-bottom: 0; }
.modal .modal-footer {
  border-top: 0; }
.modal .close span {
  font-size: 40px;
  padding-right: 10px; }
