title = "Post"
url = "/blog/post/:slug?"
layout = "default"
description = "Viewing a single blog post"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[blogTags]
results = 5
direction = "desc"

[PostForm]
use_authors = 1
restrict_owner = 1
backUser = 1
allowpublish = 1
allow_images = 1
slug = "{{ :slug }}"
listPage = "blog/list"
postPage = "blog/post"
==
<?php
use RainLab\User\Models\User as UserModel;
function onStart()
{
   
  
  
    $this["user_model"] = UserModel::find($this->param('id'));

  
}
?>
==
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123352956-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123352956-1');
</script>

<div>

        {% if post.categories.count %} 
            {% for category in post.categories %}
                {% if category.id == 5 %}
                <link href="{{ 'assets/css/meeting-page/meeting-modal.css'|theme }}" rel="stylesheet">
                <link href="{{ 'assets/css/meeting-page/meeting-info.css'|theme }}" rel="stylesheet">
                
                <link href="{{ 'assets/css/user/track.css'|theme }}" rel="stylesheet">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                        
                                <h2>{{ post.title }}</h2>
                         
                            
                                <div class="col-md-6">
                                <br>
                                    
                                        <div class="col-md-12">
                                           {{ post.content_html|raw }}
                                        </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div id="meeting-info">
                                    <br>
                    <h4 class="headline">
                        <span>會議資訊</span>
                    </h4>
                    <div class="info-box">
                        <h4>會議時間：</h4>
                        <p>{{ post.event_date|date('Y-m-d H:i') }}</p>
                    </div>
                    <div class="info-box">
                        <h4>主持人：</h4>
                        <p>{{ post.preside }}</p>
                    </div>
                    <div class="info-box">
                        <h4>出席委員：</h4>
                         {% for user in post.getUsers %}
                         <a href="{{ 'test/userpost'|page({ id:user.id }) }}"> <img src="{{user.getAvatarThumb(60)}}"width="75" height="75" style="border-radius:50%;" title="{{user.name}}"></a>
                         {% endfor %}
                    </div>
                     <div class="clearfix"> 
                
                    {% for tag in post.tags %}
                       <a href="{{ 'blog/tag'|page }}/{{ tag.name }}"># {{ tag.name }}  </a>
                    {% endfor %}
               
                    </div>
                </div>
                                </div>
                            
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>

                   
                {% elseif category.id == 4 %}
                 <link href="{{ 'assets/css/event-page/event-info.css'|theme }}" rel="stylesheet">
                  <link href="{{ 'assets/css/event-page/event-modal.css'|theme }}" rel="stylesheet">


    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <h2>{{ post.title }}</h2>
            <br>
            <div>
            
                <div class="col-md-6">
                    <div class="row">
                    <br>
                        <div class="col-md-12">

                            <h4>活動描述：</h4>
                                                     
                            <div class="content">
                                {{ post.content_html|raw }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="event-info">
                    <br>
    <h4 class="headline">
        <span>活動資訊</span>
    </h4>
    <div class="info-box">
        <h4>會議或活動日期：</h4>
        <p>{{ post.event_date|date('Y-m-d')}}</p>
    </div>
    <div class="info-box">
        <h4>地點：</h4>
        <p>{{ post.location }}</p>
    </div>
    <div class="info-box">
        <h4>主辦單位：</h4>
        <p>{{ post.organizer }}</p>
    </div>
    <div class="info-box">
        <h4>聯絡方式：</h4>
        <p>{{ post.contact }}</p>
    </div>
    <div class="info-box">
    <h4>出席委員：</h4>
     {% for user in post.getUsers %}
     <a href="{{ 'test/userpost'|page({ id:user.id }) }}"> <img src="{{user.getAvatarThumb(60)}}"width="75" height="75" style="border-radius:50%;" title="{{user.name}}"></a>
     {% endfor %}
    </div>
    <div class="clearfix"> 
    
    {% for tag in post.tags %}
    <a href="{{ 'blog/tag'|page }}/{{ tag.name }}"># {{ tag.name }}  </a>
    {% endfor %}
    
    </div>
</div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

 {% elseif category.id == 3 %}
 <link href="{{ 'assets/css/article-page/article-modal.css'|theme }}" rel="stylesheet">


    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">       
          
            <div>
                <div class="col-md-12">
                    <div class="blog-desc">
                        <div class="row text-center author-info">
                           <br>
                                <div class="avatar">
                                 <img   href="{{ 'test/userpost'|page({ id:post.author.id}) }}" src="{{post.author.getAvatarThumb(100)}}"width="100" height="100" style="border-radius:50%;" title="{{user.name}}">
                                </div>
                                <h3>{{post.author.name}}</h3>
                                
                            </a>
                            <div class="contact">
                                <a href="{{post.author.instagram}}">
                                    <i class="fab fa-instagram fa-3x"></i>
                                </a>
                                <a href="{{ post.author.facebook}}">
                                    <i class="fab fa-facebook-square fa-3x"></i>
                                </a>
                                <a href="{{ post.author.twitter}}">
                                    <i class="fab fa-twitter-square fa-3x"></i>
                                </a>
                                <a href="{{ post.author.website}}">
                                    <i class="fab fa-blogger fa-3x"></i>
                                </a>
                                <a href="mailto:{{post.author.email}}">
                                    <i class="fas fa-envelope-square fa-3x"></i>
                                </a>
                            </div>
                        </div>
<br>
                        <div class="well">
                            <h3 class="modal-title"style="text-align:center;">{{ post.title }}</h3><br>
                              <p style="color:#4169E1";> 本文由{{post.author.name}}於{{ post.published_at|date('Y') }}年{{ post.published_at|date('m') }}月{{ post.published_at|date('d') }}日{{ post.published_at|date('h') }}時{{ post.published_at|date('i') }}分張貼 </p>
                             <div class="content">
                                {{ post.content_html|raw }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>



 
 
 

                {% elseif category.id == 1 %}

    <link href="{{ 'assets/css/proposal-page/proposal-modal.css'|theme }}" rel="stylesheet">
    
     <link href="{{ 'assets/css/user/proposal.css'|theme }}" rel="stylesheet">
     <link href="{{ 'assets/css/user/track.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/proposal-page/proposal-info.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/proposal-page/track-side.css'|theme }}" rel="stylesheet">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        
                <h2>{{ post.title }}</h2>
            
   <br>
                <div class="col-md-6">
                    <div class="row">
                       <br>
                        <div class="col-md-8">
                            <h4>目前進度：</h4>
  {% for category in post.categories %}
            
                {% if category.id == 1 %}
                
  {% if post.level == 1 %}
          {% partial 'progress/proposal' %}
        

            <span>提案</span>
       {%elseif  post.level==2%}
       
        {% partial 'progress/processing' %}
            <span>進行中</span>
           
         
        {%elseif  post.level==3%}
        {% partial 'progress/part_of_the_reference' %}
            <span>部分參採</span>

          
        {%elseif  post.level==4%}
        {% partial 'progress/fully_taken' %}
  
            <span>完全參採</span>
         {%elseif  post.level==5%}
           {% partial 'progress/temporarily_not_participating' %}
        
            <span>暫不參採</span>
    {% endif %}
 
        
                         {% endif %}
                {% endfor %}
                

                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <h4>提案內容：</h4>
                            <div class="content">
                                {{ post.content_html|raw }}
                            </div>
                        </div>
                    </div>
                </div>
           
                <div class="col-md-6">
           <div id="proposal-info">
                        <br>    
    <h4 class="headline">
    
        <span>提案相關委員</span>
    </h4>
    <div class="info-box">
      <h4>提案委員</h4>
         {% for user in post.getUsers %}
         <a href="{{ 'test/userpost'|page({ id:user.id }) }}"> <img src="{{user.getAvatarThumb(60)}}"width="75" height="75" style="border-radius:50%;" title="{{user.name}}"></a>
        {% endfor %}
    </div>
                          
    <div class="info-box">
        <h4>連署委員</h4>
        {% for user in post.getReconsiderationUsers %}
         <a href="{{ 'test/userpost'|page({ id:user.id }) }}"> <img src="{{user.getAvatarThumb(60)}}"width="75" height="75" style="border-radius:50%;" title="{{user.name}}"></a>
        {% endfor %}

    </div>
     <div class="clearfix"> 

    {% for tag in post.tags %}
       <a href="{{ 'blog/tag'|page }}/{{ tag.name }}"># {{ tag.name }}  </a>
    {% endfor %}
    
    </div>
    
</div>
 <section id="track" class="track-side">
    <div class="row">
        <h4 class="headline">
            <span>提案相關 Tracks</span>
        </h4>
    </div>
                    
    <div class="row">
        <div class="col-md-12">
            <ul class="timeline">
            {% for childPost in post.getChildPosts %}
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h4><a href="{{ childPost.slug }}">{{ childPost.title }}</a></h4>
                            <p></p>
                        </div>
                        <div class="timeline-footer">
                          {% for tag in childPost.tags %}
                            <a class="pull-right" href="{{ 'blog/tag'|page }}/{{ tag.name }}">                
                                <span class="label label-success">{{ tag.name }} </span>           
                            </a>
                             {% endfor %}
                        </div>
                    </div>
                    <div class="avatars">
                    
                 
                        {% for user in childPost.getUsers %}
                        <a href="{{ 'test/userpost'|page({ id:user.id }) }}" class="">
                            <div class="avatar" style="background:url('{{user.getAvatarThumb(60)}}');" title="{{user.name}}">
                            </div>
                        </a>
                        {% endfor %}
               


                        <div class="timeline-date">
                            {{ childPost.published_at|date('Y-m-d') }}
                        </div>
                    </div>
                </li>
                 {% endfor %}
                <li class="clearfix" style="float: none;"></li>
            </ul>
        </div>
    </div>
</section>
                </div>
          
            <div class="modal-footer">
            </div>
        </div>
    </div> 
                {% endif %}
            {% endfor %}
        {% endif %}
   
</div>