title = "blogform"
url = "/blogform"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[PostList]
use_authors = 1
restrict_owner = 1
backUser = 1
formPage = "test456"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<?php
function onStart()
{   
    $this->addCss('assets/css/tree.css');
    
}
?>
==
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123352956-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123352956-1');
</script>

<!-- Start postlist-default.htm -->
{% if PostList.backUser %}
        <div  class="text-right">
            <a href="{{ PostList.formPage }}"
                class="btn btn-success"
                title="{{ PostList.trans('general.btn_add') }}">
                {{ PostList.trans('general.btn_add') }} <i class="icon-plus btn-icon"></i>
            </a>
        </div>

<div id="bloginfo">
{% partial PostList~'::list' %}
</div>
{% else %}
<p>{{ PostList.trans('general.unauthorized') }}</p>
{% endif %}
<!-- End postlist-default.htm -->
<section class="timeline">
  
{% if PostList.backUser %}
  
  <ul>
  
  {% for post in PostList.posts  %}
    <li>
      <div class="content">
        <h1>
          <time class="col-md-12">{{ post.title }}</time>
        </h1>

                           {% if PostList.isAjax %}
                        <a href="#"
                            class="btn btn-default" 
                            title="{{ PostList.trans('general.btn_edit') }}"
                            data-request="{{ PostList }}::onPostForm"  
                            data-request-data="id: {{ post.id }}"
                            data-request-update="'{{ PostList }}::form': '#bloginfo'">
                    {% else %}
                        <a href="{{ post.url }}"
                            class="btn btn-default" 
                            title="{{ PostList.trans('general.btn_edit') }}">
                    {% endif %}
                            <i class="icon-pencil btn-icon danger"></i>
                        </a>
                        <button
                            class="btn btn-default" 
                            title="{{ PostList.trans('general.btn_delete') }}"
                            data-request="{{ PostList }}::onDelete" 
                            data-request-data="id: {{ post.id }}"
                            data-request-confirm="{{ PostList.trans('general.delete_conf') }}"
                            data-request-update="'{{ PostList }}::list': '#bloginfo'">
                            <i class="icon-trash btn-icon danger"></i>
                        </button>
      </div>
      
    </li>
   
     {% endfor %} 
  </ul>
  {% else %}
  <ul>
  {% for post in posts  if  post.author_id!=NULL%}
    <li>
      <div class="content">
        <h1>
          <time class="col-md-12"><a href="{{ post.url }}">{{ post.title }}</a></time>
        </h1>
        <p>    Posted
                {% if post.categories.count %} in {% endif %}

                on {{ post.published_at|date('M d, Y') }}</p>
      </div>
    </li>
      {% endfor %}
      
  </ul>
  {% endif %}
</section>

<!-- Start partial-list.htm -->
            <table class="table">
                <tr>
                    <th class="">{{ PostList.blogtrans('post.title') }}</th>
                    <th class="">{{ PostList.blogtrans('post.categories') }}</th>
                    <th class="">{{ PostList.blogtrans('post.published') }}</th>
                    <th class="">{{ PostList.trans('post.author') }}</th>
                    <th class="">&nbsp;</th>
                </tr>
{% for post in PostList.posts  %}
                <tr>
                    <td class="">{{ post.title }}</td>
                    <td class="">{{ PostList.categoryStr(post)|raw }}</td>
                    <td class="">{{ post.published?post.published_at|date('m/d/Y'):'--/--/----' }}</td>
                    <td class="">{{ post.author.name }} {{ post.author.surname }}</td>
                    <td class="">
                    {% if PostList.isAjax %}
                        <a href="#"
                            class="btn btn-default" 
                            title="{{ PostList.trans('general.btn_edit') }}"
                            data-request="{{ PostList }}::onPostForm"  
                            data-request-data="id: {{ post.id }}"
                            data-request-update="'{{ PostList }}::form': '#bloginfo'">
                    {% else %}
                        <a href="{{ post.url }}"
                            class="btn btn-default" 
                            title="{{ PostList.trans('general.btn_edit') }}">
                    {% endif %}
                            <i class="icon-pencil btn-icon danger"></i>
                        </a>
                        <button
                            class="btn btn-default" 
                            title="{{ PostList.trans('general.btn_delete') }}"
                            data-request="{{ PostList }}::onDelete" 
                            data-request-data="id: {{ post.id }}"
                            data-request-confirm="{{ PostList.trans('general.delete_conf') }}"
                            data-request-update="'{{ PostList }}::list': '#bloginfo'">
                            <i class="icon-trash btn-icon danger"></i>
                        </button>
                    </td>
                </tr>
{% endfor %}
            </table>
<!-- End partial-list.htm -->