title = "testpop"
url = "/testpop"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<?php
use October\Rain\Auth\Models\User;
function onInit()
{    
      $this['userpop'] =\System\Models\File::where("field", "=", "avatar")->get();
       $user = Auth::getUser(true);
    $this['activatedUsers'] = User::whereIsActivated(true)->get();
   
}
function onStart()
{
   
    $var = \System\Models\File::where("field", "=", "avatar")->get();
   
    
  foreach ( $var as $vars) 
  {
       
  $this->addCss('assets/css/user.css');

   $this["attachment_id"] =$vars->attachment_id;
    $this["path"] =$vars->path;


   }
   
}
?>
==
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123352956-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123352956-1');
</script>

{% for users_picture in userpop %}

{% if users_picture.attachment_id !=1%}


<div class="tile"> 
<a href="{{ 'users/nikes'|page }}">
<img src="{{users_picture.path}}"  style="width:100%; height: 100%">
<a href="{{ 'test/userpost'|page({ id:users_picture.attachment_id }) }}">

{% for users in activatedUsers%}
{% if users.id ==users_picture.attachment_id%}
  <div class="text">
  <p class="animate-text">{{users.name}}</p>
  </div>
   {% endif %} 
  {% endfor %}
  
  </a>
  </a>
 </div>
    {% endif %} 
    {% endfor %}
    {% partial 'test' %}