title = "test tags views"
url = "/test-tags-views"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[PostForm]
use_authors = 1
restrict_owner = 1
allowpublish = 1
allow_images = 1
slug = "{{ :slug }}"
listPage = "blog/list"
postPage = "blog/post"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<?php
function onStart()
{
    $this->addJs('assets/tags/jqusery.js');
   $this->addJs('assets/tags/jquery-ui.js');
    $this->addJs('assets/tags/tag-it.min.js');
     $this->addCss('assets/tags/tagit.ui-zendesk.css');
     $this->addCss('assets/tags/jquery.tagit.css');
}
?>
==
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123352956-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123352956-1');
</script>

<link href="{{ 'assets/css/user/track.css'|theme }}" rel="stylesheet">
    <section id="track" class="container">
    <div class="row">
        <h4 class="headline">
            <span>委員 Tracks</span>
        </h4>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div id="imaginary_container"> 
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control"  placeholder="輸入關鍵字搜尋" >
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>  
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                   {% for post in posts  %}
    {% for category in post.categories %}
    {% if category.id != 1 %}
            <ul class="timeline">
 

{% if post.id%2==1 %}
                <li>
                    <div class="timeline-panel" data-toggle="modal" data-target="#meeting-Modal">
                        <div class="timeline-body">
                            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                        </div>
                        <div class="timeline-footer">
                        {% for tag in post.tags %}
                            <a href="{{ 'blog/tag'|page }}/{{ tag.name }}" class="pull-right" >
                             
                                <span class="label label-success">{{ tag.name }} </span>
                               
                            </a>
                         {% endfor %} 
                        </div>
                    </div>
                    <div class="avatars">
                    {% for user in post.getUsers %}
                        <a href="{{ 'test/userpost'|page({ id:user.id }) }}" class="">
                            <div class="avatar" style="background:url('{{user.getAvatarThumb(60)}}');">
                            </div>
                        </a>
                    {% endfor %}
                        
                        <div class="timeline-date">
                             {{ post.published_at|date('Y-m-d') }}
                        </div>
                    </div>
                </li>
 {% else %}               
                <li class="timeline-inverted">
                    <div class="timeline-panel" data-toggle="modal" data-target="#meeting-Modal">
                        <div class="timeline-body">
                            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                        </div>
                        <div class="timeline-footer">
                         {% for tag in post.tags %}
                            <a class="pull-right" href="{{ 'blog/tag'|page }}/{{ tag.name }}">
                            
                                <span class="label label-success">{{ tag.name }} </span>
                                 
                            </a>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="avatars">
                    {% for user in post.getUsers %}
                        <a href="{{ 'test/userpost'|page({ id:user.id }) }}" class="">
                            <div class="avatar" style="background:url('{{user.getAvatarThumb(60)}}');">
                            </div>
                        </a>
                    {% endfor %}
                       
                        <div class="timeline-date">
                            {{ post.published_at|date('Y-m-d') }}
                        </div>
                    </div>
                </li>
              {% endif %}
                
                <li class="clearfix" style="float: none;"></li>
            </ul>
            
                 {% endif %}
     {% endfor %}
      {% endfor %}
        </div>
    </div>
</section>