title = "yda_types"
url = "/yda_types"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 100
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<div class="container yda-container">
	<a id="AC" accesskey="C" href="#AC" title="中央內容區塊" name="AC">:::</a>
	<h1 class="headline"><span>行政院青年諮詢委員會名冊</span></h1>
	{% set flag = false %}
	{% for post in posts %}
		{% if flag == false%}
			{% for category in post.categories %}
				{% if category.name == "前台頁面" and post.slug == "roster" %}
					<div class="content">
						{{ post.content_html|raw }}
					</div>
				{% set flag = true %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}

	{% if flag == false %}
	<h2 class="text-center">目前暫無相關資料</h2>
	{% endif %}
</div>