[viewBag]
==
<?php
use October\Rain\Auth\Models\User;
function onInit()
{
    $user = Auth::getUser();
    $this['activatedUsers'] = User::whereIsActivated(true)->get();
    if($user){
        $component = $this->addComponent(
            'NetSTI\Uploader\Components\ImageUploader',
            'imageUploader',
            ['modelClass'=>'RainLab\User\Models\User','modelKeyColumn'=>'avatar', 'deferredBinding' => false]
        );
        $component->bindModel('avatar', $user);
    }
}

function onRun() {
   $name = $this->param('name');
}
?>
==

{% for user in chiefUsers %}
  <div class=" col-md-2 col-sm-3 col-xs-4 avatar-back">
    <a href="{{ user.website }}" class="display-block">
        <div class="avatar" style="width:100%; background:url({{user.avatar.path}}); padding-bottom:100%">
            <div class="text">
                <h6>{{ user.name }}</h6>
            </div>
        </div>
    </a>
</div>
{% endfor %}