[viewBag]
==
{% for users in users_coordinator %}
<div class=" col-md-2 col-sm-3 col-xs-4 avatar-back">
    <a href="{{ 'test/userpost'|page({ id:users.id }) }}" title="進入{{users.name}}個人頁面" class="display-block">
        {% if users.avatar.path|length!=0%}
        <div class="avatar" style="width:100%; background:url({{users.avatar.path}});padding-bottom:100%">
        {%else%}
        <div class="avatar" style="width:100%; background:url({{'assets/images/users/nopicture.jpg'|theme }});padding-bottom:100%">
        {% endif %}
            <div class="text">{{users.name}}</div>
        </div>
    </a>
</div>
{% endfor %}

{% for users in users_committee %}
<div class=" col-md-2 col-sm-3 col-xs-4 avatar-back">
    <a href="{{ 'test/userpost'|page({ id:users.id }) }}" title="進入{{users.name}}個人頁面" class="display-block">
        {% if users.avatar.path|length!=0%}
        <div class="avatar" style="width:100%; background:url({{users.avatar.path}});padding-bottom:100%">
        {%else%}
        <div class="avatar" style="width:100%; background:url({{'assets/images/users/nopicture.jpg'|theme }});padding-bottom:100%">
        {% endif %}
            <div class="text">{{users.name}}</div>
        </div>
    </a>
</div>
{% endfor %}