title = "johnson"
url = "/johnson"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[session]
security = "all"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<?php
use October\Rain\Auth\Models\User;
function onInit()
{
    $user = Auth::getUser();
    $this['activatedUsers'] = User::whereIsActivated(true)->get();
    if($user){
        $component = $this->addComponent(
            'NetSTI\Uploader\Components\ImageUploader',
            'imageUploader',
            ['modelClass'=>'RainLab\User\Models\User','modelKeyColumn'=>'avatar', 'deferredBinding' => false]
        );

        $component->bindModel('avatar', $user);
    }
}
function onRun() {
   $name = $this->param('name');
  }
?>
==
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123352956-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123352956-1');
</script>

<div class="container">
<div class="col-md-4">

        <img src="{{ 'assets/images/users/14.jpg'|theme }}"  style="width:100%; height: 100%">
        
{% for user in activatedUsers%}
    {% if user.id == 15 %}
  <a href="{{ user.facebook}}"><img src="{{ 'assets/images/logo-facebook.png'|theme }}"  style="width:20%; height: 20%" ></a>
    


    

<a href="{{ user.instagram}}"><img src="{{ 'assets/images/logo-ig.png'|theme }}"  style="width:20%; height: 20%" ></a>
  
<a href="{{ user.twitter}}"><img src="{{ 'assets/images/logo-twi.png'|theme }}"  style="width:20%; height: 20%" ></a>
<a href="{{ user.website}}"><img src="{{ 'assets/images/logo-ww.png'|theme }}"  style="width:18%; height: 18%" ></a>
</div>
<div class="col-md-8">


    <h4>{{user.name}}</h4>
    <p>現職:{{user.headline}}</p>
    <p>E-mail:{{user.email}}</p>
    <p>專長領域:{{user.expertises}}</p>
    <p>感興趣之議題:{{ user.interested_topics}}</p>
  
    {% if user.id ==15%}
    {% component 'Ajax' %}
    {% endif %}
  
    
</div> 
<div class="col-md-12">
 <h4 class="headline"><span>個人簡介</span></h4>
    <p>{{user.about_me}}</p>
    
</div>
   {% endif %}   
    {% endfor %}
    
    
<div class="col-md-12">
 <h4 class="headline"><span>委員 track</span></h4>
    <ul class="post-list">

    {% for post in posts  if  post.author_id==15%}
    
      <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <p class="card-description"><a href="{{ post.url }}">{{ post.title }}</a></p>
         <p class="info">
                Posted
                {% if post.categories.count %} in {% endif %}

                on {{ post.published_at|date('M d, Y') }}
            </p>




      </div>
    </div>
  </div>
    {% else %}
        <li class="no-data">{{ noPostsMessage }}</li>
    {% endfor %}
</ul>
    </div>
</div>